html {
  font-size: 10px;
  background-color: #fff;
  font-family: "Gotham Pro";
  @media all and (max-width: 1199px) {
    font-size: 8.5px;
  }
  @media all and (max-width: 1025px) {
    font-size: 8px;
  }
  @media all and (max-width: 767px) {
    font-size: 7px;
  }
}
.body-wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
body {
  counter-reset: counter;
}
img {
  user-select: none;
}
textarea {
  resize: none;
  overflow: hidden;
}

.section {
  padding: 13rem 0;
  @media all and (max-width: 767px) {
    padding: 5rem 0;
  }
  @media all and (max-width: 1200px) {
    padding: 10rem 0;
  };
  &__title {
    padding-left: 3rem;
    position: relative;
    color: #03041a;
    font-family: "Gotham Pro";
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 6.5rem;
    text-transform: uppercase;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 0.8rem;
      height: 0.8rem;
      box-shadow: 0 0.5rem 0.8rem rgba(48, 178, 242, 0.3);
      background-image: linear-gradient(to right, #30b2f2 0%, #0099e5 100%);
      border-radius: 50%;
    }
    @media all and (max-width: 420px) {
      font-size: 3.5rem;
      line-height: 3.5rem;
    }
    &--white {
      color: #ffffff;
    }
  }
  &-content {
    padding: 7rem 0 5rem;
    position: relative;
    z-index: 10;
  }
}
.custom-dots {
  display: flex;
  align-items: center;
  & li {
    margin-right: 1.5rem;
    width: 0.8rem;
    height: 0.8rem;
    background-color: rgba(#ffffff,0.4);
    border-radius: 50%;
    &:hover {
      cursor: pointer;
    }
    &:last-of-type {
      margin-right: 0;
    }
    &.slick-active {
      width: 1.2rem;
      height: 1.2rem;
      box-shadow: 0 0.3rem 1rem rgba(48, 178, 242, 0.25);
      border: 0.2rem solid #30b2f2;
      background-color: transparent;
    }
    & button {
      display: none;
    }
  }
}

.bullet {
  &--fill {
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgba(#30b2f2, 0.5);
    border-radius: 50%;
  }
  &--border {
    position: absolute;
    width: 0.7rem;
    height: 0.7rem;
    border: 0.1rem solid rgba(#30b2f2, 0.5);
    border-radius: 50%;
  }
}
.error {
  & input {
    border: 0.1rem solid red !important;
  }
  .input-icon {
    color: red!important;
    &:before {
      background-color: red!important;
    }
  }
}

/*  Modal Form  */
.modal {
  &-content{
    max-width: 111rem;
    &__logo {
      margin-bottom: 4rem;
    }
    &__text {
      margin-bottom: 2.5rem;
      & p {
        margin-bottom: 1rem;
        color: rgba(#03041a,0.8);
        font-family: "Gotham Pro";
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 2.3rem;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    &-btn {
      &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &-thanks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .modal-img-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      border: 0.2rem solid #0099e6;
      margin: 0 auto 3rem;
      & i {
        color: #0099e6;
        font-size: 6.5rem;
      }
    }
    &__title {
      position: relative;
      color: #03041a;
      font-size: 3rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

/* Page Title Wrapper */
.page {
  &-title {
    position: relative;
    &:before {
      content: 'Technostaff';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      opacity: 0.1;
      transform: translateY(-50%);
      color: #ffffff;
      font-family: "Gotham Pro";
      font-size: 11.4rem;
      font-weight: 700;
      text-transform: none;
      pointer-events: none;
      @media all and (max-width: 420px) {
        font-size: 8rem;
      }
      @media all and (min-width: 421px) and (max-width: 480px) {
        font-size: 10rem;
      }
      @media all and (min-width: 481px) and (max-width: 1024px) {

        font-size: 10rem;
      }
    }
    &-wrapper {

    }
    &__bg {
      @media all and (max-width: 1365px) {
        display: none;
      }
    }
    &-fig1, &-fig2 {
      z-index: 5;
      @media all and (max-width: 1365px) {
        display: none;
      }
    }
  }
}

/* 404 */
.body-content-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #03041a;
}
.page {
  &-title {
    margin-bottom: 6rem;
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 5.7rem;
    font-weight: 700;
    &-fig1 {
      position: absolute;
      left: 5rem;
      top: 13.5rem;
    }
    &-fig2 {
      position: absolute;
      left: 150rem;
      top: 15.5rem;
    }
    &__img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &-wrapper {
      position: relative;
      background: url('../img/page-title-wrapper.png') center/cover no-repeat no-repeat,  #03041a;
      padding: 9rem 0;
    }
  }

}
.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  width: 100%;
  height:100%;
  z-index: 10;
  pointer-events: none;
  .layer {
    display: inline-block !important;
    &:nth-child(1) {
      .page-title__bg {
        display: inline-block;
        position: absolute;
        top: 2.5rem;
        left: 19rem;
        width: 0.6rem;
        height: 0.6rem;
        border-radius: 50%;
        background: #30b2f2;
        z-index: 10;
      }
    }
    &:nth-child(2) {
      .page-title__bg {
        display: inline-block;
        position: absolute;
        left: 111.5rem;
        top: 17.5rem;
        width: 0.6rem;
        height: 0.6rem;
        border-radius: 50%;
        background: #30b2f2;
        z-index: 10;
      }
    }
    &:nth-child(3) {
      .page-title__bg {
        position: absolute;
        display: inline-block;
        top: 5rem;
        left: 127.5rem;
        width: 0.6rem;
        height: 0.6rem;
        border-radius: 50%;
        background: #30b2f2;
        z-index: 10;
      }
    }
    &:nth-child(4) {
      .page-title__bg {
        display: inline-block;
        position: absolute;
        left: 131.5rem;
        top: 17.5rem;
        width: 0.6rem;
        height: 0.6rem;
        border-radius: 50%;
        background: #30b2f2;
        z-index: 10;
      }
    }
    &:nth-child(5) {
      display: inline-block;
      position: absolute;
      right: 5rem;
      top: 14.5rem;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background: #30b2f2;
      z-index: 10;
    }
  }
  @media all and (max-width: 1365px) {
    display: none;
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  & li {
    margin-left: 2rem;
    position: relative;
    padding-right: 2rem;

    &:first-of-type {
      margin-left: 0;
      &:after {
        content: '/';
        display: block;
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
        color: rgba(#d9f2ff,0.5);
        font-size: 1.8rem;
      }
      & a {
        color: rgba(#d9f2ff,0.5);
        font-family: "Gotham Pro";
        font-size: 1.6rem;
        font-weight: 400;
        text-decoration: none;
      }
    }
    & a {
      color: rgba(#30b2f2, 0.7);
      font-family: "Gotham Pro";
      font-size: 1.6rem;
      font-weight: 400;
      text-decoration: none;
    }
  }
}
/* Customize the label (the container) */
.checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 2.2rem;
  user-select: none;
  &--round {
    & .checkmark {
      border-radius:50%;
    }
  }
}

.disabled {
  opacity: 0.5;
  user-select: none;
}

/* Modal Form */
.modal {
  &-content {
    &__title {
      margin-bottom: 4rem;
    }
  }
  &-form {
    &-wrapper {

    }
  }
  &-contact {
    .input-icon {
      position: absolute;
      width: 6.5rem;
      height: 100%;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(#4b89a6, 0.7);
      font-size: 1.6rem;
      font-weight: 400;
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 0.1rem;
        height: 2rem;
        background-color: rgba(#4b89a6, 0.6);
      }
    }
    .input-wrapper {
      position: relative;
      width: calc((100% / 3) - 1.5rem);
      @media all and (max-width: 420px) {
        width: 100%;
        margin-bottom: 2rem;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      & input {
        padding: 2.5rem 8rem 2.5rem 3rem;
        box-sizing: border-box;
        width: 100%;
        color: rgba(#bfeaff,0.8);
        font-family: "Gotham Pro";
        font-size: 1.6rem;
        font-weight: 400;
        border: 0.1rem solid #c5dfed;
      }
      &-textarea {
        position: relative;
        margin-top: 3rem;
        width: 100%;
        .input-icon {
          position: absolute;
          width: 6.5rem;
          height: 7rem;
          top: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: rgba(#4b89a6,0.6);
          font-size: 1.6rem;
          font-weight: 400;
          &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 0.1rem;
            height: 2rem;
            background-color: rgba(#4b89a6, 0.6);
          }
        }
        & textarea {
          padding: 2.5rem 3rem;
          width: 100%;
          box-sizing: border-box;
          color: rgba(#bfeaff,0.8);
          font-family: "Gotham Pro";
          font-size: 1.6rem;
          font-weight: 400;
          border: 0.1rem solid #c5dfed;
        }
      }
      &-submit {
        position: relative;
        &__icon {
          position: absolute;
          right: 0;
          top: 50%;
          z-index: 5;
          &:after {
            content: '';
            background: url(../img/arrow.svg);
            display: block;
            position: absolute;
            width: 3.2rem;
            height: 1.5rem;
            top: 50%;
            right: 3.8rem;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}
/* Checkbox Style */
.checkbox input, .checkbox--round input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  display: block;
  height: 2.5rem;
  width: 2.5rem;
  box-shadow: 0 0.4rem 2rem rgba(48, 178, 242, 0.25);
  background-color: #ffffff;
  &--round {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.1rem solid #a6d4ed;
  }
}
.checkmark:after {
  content: "\f26b";
  position: absolute;
  display: none;
  font-family: "Material-design-Iconic-Font";

}
.checkmark--round:after {
  content: '';
  display: none;
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background: #30b2f2;
}
.checkbox input:checked ~ .checkmark:after {
  display: block;
}
.checkbox--round input:checked ~ .checkmark--round:after {
  display: block;
}
.checkbox .checkmark:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #30b2f2;
}

/* Select  */
.select2 {
  width: 100% !important;
  &-container {
    color: #4b89a6;
    font-family: "Gotham Pro";
    font-size: 1.6rem;
    font-weight: 500;
  }
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #4b89a6;
  font-family: "Gotham Pro";
  font-size: 1.6rem;
  font-weight: 500;
}
.select2-selection__arrow {
  top: 50% !important;
  transform: translate(-3rem,-50%);
}
.select2-container .select2-selection--single {
  height: auto;
  padding: 1.5rem 3rem;
}


.header-wrapper {
  border-bottom: 0.1rem solid #0d0f26;
}
.footer-wrapper {
  border-bottom: 0.1rem solid #0d0f26;
}
.partner {
  margin-top: -3rem;
}
.home-slider-item {
  .home-slider-item-info__text {
    line-height: unset;
  }
}

.automation-info-wrapper {
  max-width: 56rem;
}

.automation-info-item.active {
  .automation-info-item-title {
    @media all and (max-width: 420px) {
      height: 0.2rem;
    }
  }
}
.page-title {
  z-index: 1;
}
