.connection {
  &-section {
    position: relative;
    padding: 13rem 0;
    //background-image: linear-gradient(to bottom, #1a1b40 0%, #040626 100%);
    background-position: center right;
    overflow: hidden;
  }
  &-form {
    &-content {
      margin-bottom: 5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
    }
  }
  .input-icon {
    position: absolute;
    width: 6.5rem;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(#bfeaff,0.6);
    font-size: 1.6rem;
    font-weight: 400;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 0.1rem;
      height: 2rem;
      background-color: #3d3f66;
    }
  }
  .input-wrapper {
    position: relative;
    width: calc((100% / 3) - 1.5rem);
    @media all and (max-width: 420px) {
      width: 100%;
      margin-bottom: 2rem;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    & input {
      padding: 2.5rem 8rem 2.5rem 3rem;
      box-sizing: border-box;
      width: 100%;
      color: rgba(#bfeaff,0.8);
      font-family: "Gotham Pro";
      font-size: 1.6rem;
      font-weight: 400;
      border: 0.1rem solid #454773;
      background-color: rgba(#191b40,0.8);
    }
    &-textarea {
      position: relative;
      margin-top: 3rem;
      width: 100%;
      .input-icon {
        position: absolute;
        width: 6.5rem;
        height: 7rem;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(#bfeaff,0.6);
        font-size: 1.6rem;
        font-weight: 400;
        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 0.1rem;
          height: 2rem;
          background-color: #3d3f66;
        }
      }
      & textarea {
        padding: 2.5rem 3rem;
        width: 100%;
        box-sizing: border-box;
        color: rgba(#bfeaff,0.8);
        font-family: "Gotham Pro";
        font-size: 1.6rem;
        font-weight: 400;
        border: 0.1rem solid #454773;
        background-color: rgba(#191b40,0.8);
      }
    }
    &-submit {
      position: relative;
      &__icon {
        position: absolute;
        right: 0;
        top: 50%;
        z-index: 5;
        &:after {
          content: '';
          background: url(../img/arrow.svg);
          display: block;
          position: absolute;
          width: 3.2rem;
          height: 1.5rem;
          top: 50%;
          right: 3.8rem;
          transform: translateY(-50%);
        }
      }
    }
  }
  &-btn {
    &-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &-bg {
    &__img1 {
      position: absolute;
      top: 0;
      left:0;
    }
  }
}